---
import { getCollection } from 'astro:content'
import BlogCard from '../../components/BlogCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<BaseLayout>
  <div class="bg-background">
    <main class="app-container pt-36 pb-20">
      <h1 class="font-title text-7xl pb-8">Blog</h1>
      <p class="md:w-2/3 font-light text-lg leading-[2rem]">
        Welcome to my blog! Here you'll find a collection of my thoughts and
        experiences. I hope you enjoy reading them as much as I enjoyed writing
        them.
      </p>
    </main>
  </div>
  <section class="app-container py-12">
    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        posts.map((post) => (
          <li>
            <BlogCard post={post} />
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
