---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts'
import { getCollection } from 'astro:content'
import BlogCard from '../../components/BlogCard.astro'
// import '@fontsource/silkscreen'
import '@fontsource/allura'
import '@fontsource-variable/manrope'

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang="en" class="monsoon">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-foreground bg-basecolor">
    <Header />
    <div class="bg-background">
      <main class="app-container pt-36 pb-20">
        <h1 class="font-title text-7xl pb-8">Blog</h1>
        <p class="md:w-2/3 font-light text-lg leading-[2rem]">
          Welcome to my blog! Here you'll find a collection of my thoughts and
          experiences. I hope you enjoy reading them as much as I enjoyed
          writing them.
        </p>
      </main>
    </div>
    <section class="app-container py-12">
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          posts.map((post) => (
            <li>
              <BlogCard post={post} />
            </li>
          ))
        }
      </ul>
    </section>
    <Footer />
  </body>
</html>
