@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 184 0;
    --color-foreground: 31 31 31;
    --color-background: 239 239 239;
    --color-base: 255 255 255;
  }
  :root[class~='dark'] {
    /* --color-foreground: 211 215 217; */
    --color-foreground: 215 215 211;
    --color-background: 29 29 29;
    --color-base: 18 18 18;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pixel {
  position: absolute;
  height: 12px;
  width: 12px;
  /* background: #aaa; */
  background: #ffb800;
  animation: disappear 2s forwards;
}

* {
  @apply transition-colors duration-75;
}

/* .main-logo:hover + .yellow-logo-bar {
  fill: 'red';
} */

/* .yellow-logo-bar {
  fill: blue;
} */

.app-container {
  @apply container mx-auto px-6 sm:px-20 2xl:px-16;
}

.blog-content {
  @apply leading-relaxed;
}

.blog-content h1 {
  @apply text-4xl font-semibold pb-3 pt-4;
}

.blog-content h2 {
  @apply text-3xl font-semibold pb-3 pt-4;
}

.blog-content h3 {
  @apply text-2xl font-semibold pb-2 pt-3;
}

.blog-content h4 {
  @apply text-xl font-semibold pb-2 pt-3;
}

.blog-content h5 {
  @apply text-lg font-semibold pb-1 pt-2;
}

.blog-content h6 {
  @apply text-base font-semibold pb-1 pt-1;
}

.blog-content p {
  @apply pb-3;
}

.blog-content a {
  @apply text-primary underline;
}

.blog-content ul {
  @apply list-disc pl-6;
}

.blog-content ol {
  @apply list-decimal pl-6;
}

.blog-content li {
  @apply pb-2;
}

.blog-content blockquote {
  @apply border-l-4 border-primary pl-4 py-4 my-6 bg-background rounded-lg [&>p]:py-0;
}

.blog-content pre {
  @apply p-4 bg-background text-foreground rounded-lg overflow-x-auto mt-2 mb-6 shadow-lg;
}

.blog-content code {
  @apply text-sm font-mono;
}

.blog-content img {
  @apply mx-auto my-4 rounded-lg shadow-lg;
}

.blog-content table {
  @apply w-full border-collapse rounded-lg my-4 text-sm overflow-x-scroll;
}

.blog-content th {
  @apply bg-primary bg-opacity-25 text-foreground font-semibold border border-foreground p-2;
}

.blog-content td {
  @apply text-foreground border border-foreground p-2 [&>code]:font-mono [&>code]:p-[2px] [&>code]:bg-background;
}

.blog-content hr {
  @apply my-6 border-foreground;
}

.blog-content mark {
  @apply bg-yellow-400 bg-opacity-50 text-foreground rounded px-[3px];
}

.blog-content kbd {
  @apply bg-background inline-block text-foreground text-sm rounded px-[6px] py-[2px] shadow-black shadow-sm mx-1 hover:scale-95 transition-transform cursor-default;
}
