---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import '@fontsource/silkscreen'
import '@fontsource/allura'
import '@fontsource-variable/manrope'
---

<!doctype html>
<html lang="en" class="monsoon">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-foreground bg-basecolor">
    <Header title={SITE_TITLE} />
    <div class="bg-background">
      <main
        class="app-container h-[95vh] flex flex-col gap-6 justify-center py-56 items-center"
      >
        <h1
          class="font-title text-9xl md:text-[128px] text-center leading-none px-4 hero-title z-10"
        >
          404
        </h1>
        <div
          class="flex gap-3 opacity-70 [&>*]:w-3 [&>*]:h-3 [&>*]:bg-primary [&>*]:rounded-full"
        >
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class="text-xl text-center max-w-[480px]">
          The page you're looking for wasn't found. Please check the link again.
        </p>
        <a
          class="flex px-4 py-3 gap-2 bg-foreground text-basecolor rounded-md text-lg transition-transform hover:-translate-y-1 hover:shadow-lg"
          href="/"
          download
          target="_blank"
          >Go to Home Page
        </a>
      </main>
    </div>
    <Footer />
  </body>
</html>
