---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-foreground bg-basecolor">
    <Header title={SITE_TITLE} />
    <main
      class="bg-background flex flex-col gap-12 justify-center items-center min-h-[96vh] p-4 relative"
    >
      <h1
        class="font-title text-7xl md:text-[112px] text-center leading-none px-4 hero-title z-10"
      >
        Yash Jawale
      </h1>
    </main>
    <Footer />
  </body>
</html>
