---
import type { MarkdownHeading } from 'astro'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props

const filteredHeadings = headings.filter((heading) => heading.depth <= 2)
---

{
  filteredHeadings.length > 0 ? (
    <nav class="border-2 border-foreground/20 py-5 px-4 rounded">
      <h2 class="text-lg mr-2 border-b-2 border-foreground/20 pb-1 mb-3 font-semibold">
        On This Page
      </h2>
      <ul class="space-y-1 leading-loose">
        {filteredHeadings.map((heading) => (
          <li>
            <a
              class="hover:underline underline-offset-4"
              href={`#${heading.slug}`}
            >
              {heading.text}
            </a>
          </li>
        ))}
      </ul>
    </nav>
  ) : (
    <div />
  )
}
