---
import BaseLayout from '../../layouts/BaseLayout.astro'
---

<BaseLayout title="Projects | Yash Jawale">
  <main
    class="app-container h-[95vh] flex flex-col gap-6 justify-center py-56 items-center"
  >
    <h1
      class="font-title text-4xl text-center leading-none px-4 font-medium z-10"
    >
      Coming Soon
    </h1>
    <p class="text-lg text-center max-w-[480px]">
      This page is still under construction.
    </p>
  </main>
</BaseLayout>
